<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
    {% block style %}
      
    {% endblock style %}
</head>
<body class="bg-white text-gray-800">

        {% include "main/navbar.html" %}


        {% block content %}
        
        {% endblock content %}

        {% block extra_body %}
        {% endblock %}

        {% include "main/footer.html" %}
        {% include "main/scripts.html" %}

        {% block extra_scripts %}
        {% endblock extra_scripts %}
</body>
</html>
